/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Sen&display=swap');


/* Set root font-size */
:root {
    font-size: 18px;
}


/* Global Settings */
html {
    background-color:  #0b3954;
    color: rgb(46, 45, 51);
    font-family: "Sen", sans-serif;
}


/* Setting the title and its components */
#title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0b3954;
    margin: 1rem;
    color: #ff6663;
}

h1 {
    margin-bottom: 0;
    font-family: "Lobster", cursive;
    font-size: 3rem;
}

#title p {
    font-size: 1.5rem;
}


/*Setting the main content, being the picture and the biography */
#secondary {
    display: flex;
    align-items: center;
    justify-content: center;
}

#img-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e5e1ee;
    width: 50%;
    margin-left: 5%;
}

#image {
    margin: 1rem;
    max-width:95%;
    max-height:95%;
}

#img-caption {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
}

#tribute-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ff6663;
    color:  #092f46;
    margin: 1rem;
    padding: 1rem;
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
}

ul {
    padding: 0;
}

ul p {
    margin-bottom: 3rem;
    justify-content: center;
    align-content: center;
    text-align: center;
}

li {
    margin-top: 0.8rem;
    margin-right: 1rem;
    margin-left: 1rem;
}


/* Setting the footer and the Wikipedia link */
#wiki-entry {
    text-align: center;
    color: #ff6663;
    margin-top: 3rem;
}

#tribute-link {
    color: #ff6663
}


/* Setting media query for smaller screens */
@media (max-width: 768px) {
    #secondary {
        flex-direction: column;
    }

    #img-div {
        margin-left: 0;
    }

    #img-caption {
        margin-top: 0;
        margin-bottom: 0;
        padding: 0.5rem;
    }
}
